.edit_title1  
  .edit
    %h1 Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .edit_field
      .edit_field_box
        = f.label :new_email
        %br/
        = f.email_field :email,class: "field-input", autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .edit_field
      .edit_field_box
        = f.label :new_password
        %br/
        = f.password_field :password,class: "field-input", autocomplete: "new-password"
        - if @minimum_password_length
          %br/
          -# %em
          -#   = @minimum_password_length
          -#   characters minimum
    .edit_field
      .edit_field_box
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, class: "field-input", autocomplete: "new-password"
    .edit_field
      .edit_field_box
        = f.label :current_password
        %br/
        = f.password_field :current_password,class: "field-input", autocomplete: "current-password"
    .actions_edit
      = f.submit "Update",class:"btn"
    .actions_edit_cancel
      #{button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    = link_to "Back", :back
