.upper-field__in__main  
  %h1.upper-field__in__main__logo
    %a(href="/")
      = image_tag 'logo.png', alt: 'トップロゴ', height: '40.55px', width: '160px', class: ''
= form_for @address do |f|
  .head_title
    %h1 住所情報登録
  .title_field  
    .title_field_box
      = f.label :郵便番号
      %span.indispensable 必須
      = f.text_field :zipcode, class: "field-input", placeholder: "例：1234567"
    .input_errors
      = @address.errors.full_messages_for(:zipcode)[0]
  .field_type1
    .title_field_box
      = f.label :都道府県
      %span.indispensable 必須
      = f.text_field :prefectures, class: "field-input"
    .input_errors
      = @address.errors.full_messages_for(:prefectures)[0] 
    .title_field_box
      = f.label :市区町村
      %span.indispensable 必須
      = f.text_field :city, class: "field-input"
    .input_errors
      = @address.errors.full_messages_for(:city)[0]
    .title_field_box
      = f.label :番地
      = f.text_field :address, class: "field-input1"
    .title_field_box
      = f.label :建物
      %br/
      = f.text_field :building,class: "field-input1"
  .field_type
    .title_field_box
      = f.label :送付先名
      %span.indispensable 必須
      = f.text_field :address_name1,class: "field-input-full", placeholder: "姓"
      = f.text_field :address_name2,class:"field-input-full", placeholder: "名"    
    .input_errors
      = @address.errors.full_messages_for(:address_name1)[0]
      = @address.errors.full_messages_for(:address_name2)[0]
    .title_field_box
      = f.label :連絡先
      %span.indispensable 必須
      = f.text_field :phone, class: "field-input"
    .input_errors
      = @address.errors.full_messages_for(:phone)[0]
  .actions
    = f.submit "Sign up",class:"btn"
//= render "devise/shared/links"