%h2 住所情報登録
= form_for @address do |f|
  .field
    = f.label :郵便番号
    %br/
    = f.text_field :zipcode
  .input-error
    = @address.errors.full_messages_for(:zipcode)[0]
  
  .field
    = f.label :都道府県
    %br/
    = f.text_field :prefectures
  .input-error
    = @address.errors.full_messages_for(:prefectures)[0]
    
  .field
    = f.label :市区町村
    %br/
    = f.text_field :city
  .input-error
    = @address.errors.full_messages_for(:city)[0]
  
  .field
    = f.label :番地
    %br/
    = f.text_field :address
  .input-error
    = @address.errors.full_messages_for(:address)[0]
  
  .field
    = f.label :建物
    %br/
    = f.text_field :building

  .field
    = f.label :送付先名（姓）
    %br/
    = f.text_field :address_name1
  .input-error
    = @address.errors.full_messages_for(:address_name1)[0]
   
  .field
    = f.label :送付先（名）
    %br/
    = f.text_field :address_name2
  .input-error
    = @address.errors.full_messages_for(:address_name2)[0]
    
  .field
    = f.label :連絡先
    %br/
    = f.text_field :phone
  .input-error
    = @address.errors.full_messages_for(:phone)[0]
  
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"