%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"