.upper-field
  .upper-field__in
    .upper-field__in__main  
      %h1.upper-field__in__main__logo
        = link_to '/' do
          = image_tag 'logo.png', alt: 'トップロゴ', height: '40.55px', width: '160px', class: ''
      .upper-field__in__main__search-box
        %input#search-btn{type: "checkbox"}/
        %label{for: "search-btn"}  Show search bar
        %input#search-bar{placeholder: "検索ワードを入力してください", type: "text"}/
  .upper-field__navigate
    .upper-field__navigate__left-side
      %ul.upper-field__navigate__left-side__item
        %li<
          = link_to "カテゴリー", "#" , class:"CategoryLinks"
          %ul
            %li<
              %a(href="#") レディース
              %ul
                %li<
                  %a(href="#") トップス
                  %ul
                    %li<
                      %a(href="#") Tシャツ/カットソー(半袖/袖なし)
                    %li<
                      %a(href="#") Tシャツ/カットソー(七分/長袖)
                    %li<
                      %a(href="#") シャツ/ブラウス(半袖/袖なし)
                    %li<
                      %a(href="#") シャツ/ブラウス(七分/長袖)
                    %li<
                      %a(href="#") シャツ
                    %li<
                      %a(href="#") ポロシャツ
                    %li<
                      %a(href="#") キャミソール
                    %li<
                      %a(href="#") タンクトップ
                    %li<
                      %a(href="#") ホルターネック
                    %li<
                      %a(href="#") ニット/セーター
                    %li<
                      %a(href="#") チュニック
                    %li<
                      %a(href="#") カーディガン/ボレロ
                    %li<
                      %a(href="#") ベスト/ジレ
                    %li<
                      %a(href="#") パーカー
                    %li<
                      %a(href="#") トレーナー/スウェット
                    %li<
                      %a(href="#") ベアトップ/チューブトップ
                    %li<
                      %a(href="#") ジャージ
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ジャケット/アウター
                  %ul
                    %li<
                      %a(href="#") テーラードジャケット
                    %li<
                      %a(href="#") ノーカラージャケット
                    %li<
                      %a(href="#") Gジャン/デニムジャケット
                    %li<
                      %a(href="#") レザージャケット
                    %li<
                      %a(href="#") ダウンジャケット
                    %li<
                      %a(href="#") ライダースジャケット
                    %li<
                      %a(href="#") ミリタリージャケット
                    %li<
                      %a(href="#") ダウンベスト
                    %li<
                      %a(href="#") ジャンパー・ブルゾン
                    %li<
                      %a(href="#") ポンチョ
                    %li<
                      %a(href="#") ロングコート
                    %li<
                      %a(href="#") トレンチコート
                    %li<
                      %a(href="#") ダッフルコート
                    %li<
                      %a(href="#") ピーコート
                    %li<
                      %a(href="#") チェスターコート
                    %li<
                      %a(href="#") モッズコート
                    %li<
                      %a(href="#") スタジャン
                    %li<
                      %a(href="#") 毛皮/ファーコート
                    %li<
                      %a(href="#") スプリングコート
                    %li<
                      %a(href="#") スカジャン
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") パンツ
                  %ul
                    %li<
                      %a(href="#") デニム/ジーンズ
                    %li<
                      %a(href="#") ショートパンツ
                    %li<
                      %a(href="#") カジュアルパンツ
                    %li<
                      %a(href="#") チノパン
                    %li<
                      %a(href="#") ワークパンツ/カーゴパンツ
                    %li<
                      %a(href="#") クロップドパンツ
                    %li<
                      %a(href="#") サロペット/オーバーオール
                    %li<
                      %a(href="#") オールインワン
                    %li<
                      %a(href="#") サルエルパンツ
                    %li<
                      %a(href="#") ガウチョパンツ
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") スカート
                  %ul
                    %li<
                      %a(href="#") ミニスカート
                    %li<
                      %a(href="#") ひざ丈スカート
                    %li<
                      %a(href="#") ロングスカート
                    %li<
                      %a(href="#") キュロット
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ワンピース
                  %ul
                    %li<
                      %a(href="#") ミニワンピース
                    %li<
                      %a(href="#") ひざ丈ワンピース
                    %li<
                      %a(href="#") ロングワンピース
                %li<
                  %a(href="#") 靴
                  %ul
                    %li<
                      %a(href="#") ハイヒール/パンプス
                    %li<
                      %a(href="#") ブーツ
                    %li<
                      %a(href="#") サンダル/スニーカー
                    %li<
                      %a(href="#") ミュール
                    %li<
                      %a(href="#") モカシン
                    %li<
                      %a(href="#") ローファー/革靴
                    %li<
                      %a(href="#") フラットシューズ/バレエシューズ
                    %li<
                      %a(href="#") 長靴/レインシューズ
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ルームウェア/パジャマ
                  %ul
                    %li<
                      %a(href="#") ルームウェア
                    %li<
                      %a(href="#") パジャマ
                %li<
                  %a(href="#") レッグウェア
                  %ul
                    %li<
                      %a(href="#") ソックス
                    %li<
                      %a(href="#") スパッツ/レギンス
                    %li<
                      %a(href="#") ストッキング・タイツ
                    %li<
                      %a(href="#") レッグウォーマー
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") 帽子
                  %ul
                    %li<
                      %a(href="#") ニットキャップ/ビーニー
                    %li<
                      %a(href="#") ハット
                    %li<
                      %a(href="#") ハンチング/ベレー帽
                    %li<
                      %a(href="#") キャップ
                    %li<
                      %a(href="#") キャスケット
                    %li<
                      %a(href="#") 麦わら帽子
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") バッグ
                  %ul
                    %li<
                      %a(href="#") ハンドバッグ
                    %li<
                      %a(href="#") トートバッグ
                    %li<
                      %a(href="#") エコバッグ
                    %li<
                      %a(href="#") リュック/バックパック
                    %li<
                      %a(href="#") ボストンバッグ
                    %li<
                      %a(href="#") スポーツバッグ
                    %li<
                      %a(href="#") ショルダーバッグ
                    %li<
                      %a(href="#") クラッチバッグ
                    %li<
                      %a(href="#") ポーチ/バニティ
                    %li<
                      %a(href="#") ボディバッグ/ウエストバッグ
                    %li<
                      %a(href="#") マザーズバッグ
                    %li<
                      %a(href="#") メッセンジャーバッグ
                    %li<
                      %a(href="#") ビジネスバッグ
                    %li<
                      %a(href="#") 旅行用バッグ/キャリーケース
                    %li<
                      %a(href="#") ショップ袋
                    %li<
                      %a(href="#") 和装用バッグ
                    %li<
                      %a(href="#") カゴバッグ
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") アクセサリー
                  %ul
                    %li<
                      %a(href="#") ネックレス
                    %li<
                      %a(href="#") ブレスレッド
                    %li<
                      %a(href="#") バングル/リストバンド
                    %li<
                      %a(href="#") リング
                    %li<
                      %a(href="#") ピアス
                    %li<
                      %a(href="#") イヤリング
                    %li<
                      %a(href="#") アンクレット
                    %li<
                      %a(href="#") ブローチ/コサージュ
                      %li<
                      %a(href="#") チャーム
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ヘアアクセサリー
                  %ul
                    %li<
                      %a(href="#") ヘアゴム/シュシュ
                    %li<
                      %a(href="#") ヘアバンド/カチューシャ
                    %li<
                      %a(href="#") ヘアピン
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") 小物
                  %ul
                    %li<
                      %a(href="#") 長財布
                    %li<
                      %a(href="#") 折り財布
                    %li<
                      %a(href="#") コインケース/小銭入れ
                    %li<
                      %a(href="#") 名刺入れ/定期入れ
                    %li<
                      %a(href="#") キーケース
                    %li<
                      %a(href="#") キーホルダー
                    %li<
                      %a(href="#") 手袋/アームカバー
                    %li<
                      %a(href="#") ハンカチ
                    %li<
                      %a(href="#") ベルト
                    %li<
                      %a(href="#") マフラー/ショール
                    %li<
                      %a(href="#") ストール/スヌード
                    %li<
                      %a(href="#") バンダナ/スカーフ
                    %li<
                      %a(href="#") ネックウォーマー
                    %li<
                      %a(href="#") サスペンダー
                    %li<
                      %a(href="#") サングラス/メガネ
                    %li<
                      %a(href="#") モバイルケース/カバー
                    %li<
                      %a(href="#") 手帳
                    %li<
                      %a(href="#") 傘
                    %li<
                      %a(href="#") レインコート/ポンチョ
                    %li<
                      %a(href="#") ミラー
                    %li<
                      %a(href="#") タバコグッズ
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") 時計
                  %ul
                    %li<
                      %a(href="#") 腕時計(アナログ)
                    %li<
                      %a(href="#") 腕時計(デジタル)
                    %li<
                      %a(href="#") ラバーベルト
                    %li<
                      %a(href="#") レザーベルト
                    %li<
                      %a(href="#") 金属ベルト
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ウィッグ/エクステ
                  %ul
                    %li<
                      %a(href="#") 前髪ウィッグ
                    %li<
                      %a(href="#") ロングストレート
                    %li<
                      %a(href="#") ロングカール
                    %li<
                      %a(href="#") ショートストレート
                    %li<
                      %a(href="#") ショートカール
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") 浴衣/水着
                  %ul
                    %li<
                      %a(href="#") 浴衣
                    %li<
                      %a(href="#") 着物
                    %li<
                      %a(href="#") 振袖
                    %li<
                      %a(href="#") 長襦袢/半襦袢
                    %li<
                      %a(href="#") 水着セパレート
                    %li<
                      %a(href="#") 水着ワンピース
                    %li<
                      %a(href="#") 水着スポーツ用
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") スーツ/フォーマルドレス
                  %ul
                    %li<
                      %a(href="#") スカートスーツ上下
                    %li<
                      %a(href="#") パンツスーツ上下
                    %li<
                      %a(href="#") ドレス
                    %li<
                      %a(href="#") パーティバッグ
                    %li<
                      %a(href="#") シューズ
                    %li<
                      %a(href="#") ウェディング
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") マタニティ
                  %ul
                    %li<
                      %a(href="#") トップス
                    %li<
                      %a(href="#") アウター
                    %li<
                      %a(href="#") インナー
                    %li<
                      %a(href="#") ワンピース
                    %li<
                      %a(href="#") パンツ/スパッツ
                    %li<
                      %a(href="#") スカート
                    %li<
                      %a(href="#") パジャマ
                    %li<
                      %a(href="#") 授乳服
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") その他
                  %ul
                    %li<
                      %a(href="#") コスプレ
                    %li<
                      %a(href="#") 下着
                    %li<
                      %a(href="#") その他
            %li<
              %a(href="#") メンズ
              %ul
                %li<
                  %a(href="#") トップス
                  %ul
                    %li<
                      %a(href="#") Tシャツ/カットソー(半袖/袖なし)
                    %li<
                      %a(href="#") Tシャツ/カットソー(七分/長袖)
                    %li<
                      %a(href="#") シャツ
                    %li<
                      %a(href="#") ポロシャツ
                    %li<
                      %a(href="#") タンクトップ
                    %li<
                      %a(href="#") ニット/セーター
                    %li<
                      %a(href="#") パーカー
                    %li<
                      %a(href="#") カーディガン
                    %li<
                      %a(href="#") スウェット
                    %li<
                      %a(href="#") ジャージ
                    %li<
                      %a(href="#") ベスト
                    %li<
                      %a(href="#") その他
                %li<
                  %a(href="#") ジャケット/アウター
                %li<
                  %a(href="#") パンツ
                %li<
                  %a(href="#") 靴
                %li<
                  %a(href="#") バッグ
                %li<
                  %a(href="#") スーツ
                %li<
                  %a(href="#") 帽子
                %li<
                  %a(href="#") アクセサリー
                %li<
                  %a(href="#") 小物
                %li<
                  %a(href="#") 時計
                %li<
                  %a(href="#") 水着
                %li<
                  %a(href="#") レッグウェア
                %li<
                  %a(href="#") アンダーウェア
                %li<
                  %a(href="#") その他
            %li<
              %a(href="#") ベビー・キッズ
            %li<
              %a(href="#") インテリア・住まい・小物
            %li<
              %a(href="#") 本・音楽・ゲーム
            %li<
              %a(href="#") おもちゃ・ホビー・グッズ
            %li<
              %a(href="#") コスメ・香水・美容
            %li<
              %a(href="#") 家電・スマホ・カメラ
            %li<
              %a(href="#") スポーツ・レジャー
            %li<
              %a(href="#") ハンドメイド
            %li<
              %a(href="#") チケット
            %li<
              %a(href="#") 自転車・オートバイ
            %li<
              %a(href="#") その他    
        %li.upper-field__navigate__left-side__bland
          %a(href="#") ブランド
        %li.upper-field__navigate__left-side__glances
          = link_to "products" do

            商品一覧
    %ul.upper-field__navigate__right-side
      %li.upper-field__navigate__right-side__login
        - if user_signed_in?
          .upper-field__navigate__right-side__register
            =link_to "マイページ", user_path(current_user.id)
            
        - else
          .grid-6
            = link_to "新規登録", new_user_registration_path, class: "post"
      %li.upper-field__navigate__right-side__register
        - if user_signed_in?
          .upper-field__navigate__right-side__login
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: "post"
