.main-field
  .main-field__photo
    .main-field__photo__content
      .main-field__photo__content__title 
        %br
        人生を変えるフリマアプリ
      %p.main-field__photo__content__text
        FURIMAは誰でもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main-field__photo__content__btn
        %a.main-field__photo__content__btn__app
          =link_to "#" do
            = image_tag'AppStore.png' , width: '180px'
        %a.main-field__photo__content__btn__goo
          =link_to "#" do
            =image_tag 'GooglePlay.png' , width: '180px'
  .main-field__intro
    .main-field__intro__title
      FURIMAが選ばれる3つの理由
    %ul.main-field__intro__lists
      %li.main-field__intro__lists__list
        .main-field__intro__lists__list__pict
          = image_tag 'pict-reason-01.jpg', width: '180px'
        .main-field__intro__lists__list__title
          3分 ですぐに出品
        .main-field__intro__lists__list__text
          %br
          スマホで入力するだけで簡単に
          %br
          出品できる!
      %li.main-field__intro__lists__list
        .main-field__intro__lists__list__pict
          = image_tag 'pict-reason-02.jpg', width: '180px'
        .main-field__intro__lists__list__title
          シンプル で使いやすい
        .main-field__intro__lists__list__text
          %br
          めんどくさい入力は必要なく、
          %br
          検索も購入もスムーズ!
      %li.main-field__intro__lists__list
        .main-field__intro__lists__list__pict
          = image_tag 'pict-reason-03.jpg', width: '180px'
        .main-field__intro__lists__list__title
          手数料 業界最安
        .main-field__intro__lists__list__text
          最大3%でお得に出品&購入!
  .main-field__second
    .main-field__second__content
      .main-field__second__content__title
        %br
        会員数日本一位
      %p.main-field__second__content__text
        %br
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です!
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main-field__second__content__btn
        %a.main-field__second__content__btn__app
          =link_to "#" do
            =image_tag 'AppStore.png' , width: '180px'
        %a.main-field__second__content__btn__goo
          =link_to "#" do
            =image_tag 'GooglePlay.png', width: '180px'
  .main-field__feature
  %h2.main-field__feature__title
    %br
    FURIMAの特徴
  %ul.main-field__feature__lists
    %li.main-field__feature__lists__list
      = image_tag 'icon-01.png', alt: '特徴１', height: '337px', width: '277px', class: 'main-field__feature__lists__list__pct'
      %h3.main-field__feature__lists__list__title 簡単に売り買いできる
      %p.main-field__feature__lists__list__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.main-field__feature__lists__list
      = image_tag 'icon-03.png', alt: '特徴2', height: '337px', width: '277px', class: 'main-field__feature__lists__list__pct'
      %h3.main-field__feature__lists__list__title 売上金は即日振込みに対応
      %p.main-field__feature__lists__list__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li.main-field__feature__lists__list
      = image_tag 'icon-04.png', alt: '特徴3', height: '337px', width: '277px', class: 'main-field__feature__lists__list__pct'
      %h3.main-field__feature__lists__list__title 様々な支払いに対応
      %p.main-field__feature__lists__list__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      