.Pickup__Content
  .Pickup__Contents
    %h1.Pickup__Contents__Title ピックアップブランド
    %h2.Pickup__Contents__Subtitle アーカイブ
    .Pickup__Contents__Box
      .Pickup__Contents__Lists
        //List1
        .Pickup__Contents__List1
          = image_tag 'dog1.jpeg', alt: '料理画像', height: '150px', width: '200px', class: 'Pickup__Contents__List1__imsge'
          .Pickup__Contents__List1__Introduction
            %ul.Pickup__Contents__List1__Introduction__Left
              %li.Pickup__Contents__List1__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List1__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List1__Introduction__Left__Tax （税）
            .Pickup__Contents__List1__Introduction__Right
              .Pickup__Contents__List1__Introduction__Right_Good ★1          
        //List1
        .Pickup__Contents__List1
          = image_tag 'gorilla1.jpeg', alt: '料理画像',height: '150px', width: '200px', class: 'Pickup__Contents__List1__imsge'
          .Pickup__Contents__List1__Introduction
            %ul.Pickup__Contents__List1__Introduction__Left
              %li.Pickup__Contents__List1__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List1__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List1__Introduction__Left__Tax （税）
            .Pickup__Contents__List1__Introduction__Right
              .Pickup__Contents__List1__Introduction__Right_Good ★1
        //List1
        .Pickup__Contents__List1
          = image_tag '田中1.jpg', alt: '料理画像', height: '150px', width: '200px', class: 'Pickup__Contents__List1__imsge'
          .Pickup__Contents__List1__Introduction
            %ul.Pickup__Contents__List1__Introduction__Left
              %li.Pickup__Contents__List1__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List1__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List1__Introduction__Left__Tax （税）
            .Pickup__Contents__List1__Introduction__Right
              .Pickup__Contents__List1__Introduction__Right_Good ★1
        //List1
        .Pickup__Contents__List1
          = image_tag 'hamuster1.jpeg', alt: '料理画像', height: '150px', width: '200px', class: 'Pickup__Contents__List1__imsge'
          .Pickup__Contents__List1__Introduction
            %ul.Pickup__Contents__List1__Introduction__Left
              %li.Pickup__Contents__List1__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List1__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List1__Introduction__Left__Tax （税）
            .Pickup__Contents__List1__Introduction__Right
              .Pickup__Contents__List1__Introduction__Right_Good ★1
        //List1
        .Pickup__Contents__List1
          = image_tag 'risu1.jpeg', alt: '料理画像', height: '150px', width: '200px', class: 'Pickup__Contents__List1__imsge'
          .Pickup__Contents__List1__Introduction
            %ul.Pickup__Contents__List1__Introduction__Left
              %li.Pickup__Contents__List1__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List1__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List1__Introduction__Left__Tax （税）
            .Pickup__Contents__List1__Introduction__Right
              .Pickup__Contents__List1__Introduction__Right_Good ★1            
