.Pickup__Content
  .Pickup__Contents
    %h1.Pickup__Contents__Title ピックアップカテゴリー
    %h2.Pickup__Contents__Subtitle 新規投稿商品
    .Pickup__Contents__Box
      .Pickup__Contents__Lists
        //List1
        - @products.each do |product|
          - if product.user_id.nil?
            .Pickup__Contents__List1
              = link_to product_path(product) ,class: 'Item__Infomation' do
                = image_tag product.images.first.image.url, alt: '商品画像', height: '150px', width: '150px', class: 'Pickup__Contents__List1__image'
              .Pickup__Contents__List1__Introduction
                %ul.Pickup__Contents__List1__Introduction__Left
                  %li.Pickup__Contents__List1__Introduction__Left__Name 
                    = product.product_name
                  %li.Pickup__Contents__List1__Introduction__Left__Plice
                    = product.price
                    円
                  %li.Pickup__Contents__List1__Introduction__Left__Tax
                    (税込)
                .Pickup__Contents__List1__Introduction__Right
                  .Pickup__Contents__List1__Introduction__Right_Good ★1
          - else
            .Pickup__Contents__List1
              = link_to product_path(product) ,class: 'Item__Infomation' do
                = image_tag product.images.first.image.url, alt: '商品画像', height: '150px', width: '150px', class: 'Pickup__Contents__List1__image'
              .Pickup__Contents__List1__Introduction
                %ul.Pickup__Contents__List1__Introduction__Left
                  %li.Pickup__Contents__List1__Introduction__Left__Name 
                    = product.product_name
                  %li.Pickup__Contents__List1__Introduction__Left__Plice
                    = product.price
                    円
                  %li.Pickup__Contents__List1__Introduction__Left__Tax
                    (税込)
                .Pickup__Contents__List1__Introduction__Right
                  .Pickup__Contents__List1__Introduction__Right_Good ★1 
              //SOLD OUT表記
              .items-box_photo__sold
                .items-box_photo__sold__inner SOLD
