.Pickup__Content
  .Pickup__Contents
    %h1.Pickup__Contents__Title ピックアップカテゴリー
    %h2.Pickup__Contents__Subtitle 新規投稿商品
    .Pickup__Contents__Box
      .Pickup__Contents__Lists
        //List1
        .Pickup__Contents__List1
          - @items.each do |item|
            = link_to item_path(item) ,class: 'Item__Infomation' do
              = image_tag item.image, alt: '商品画像', height: '60%', width: '100%', class: 'Pickup__Contents__List1__image'
          .Pickup__Contents__List1__Introduction
            - @items.each do |item|
              %ul.Pickup__Contents__List1__Introduction__Left
                %li.Pickup__Contents__List1__Introduction__Left__Name 
                  = item.name
                %li.Pickup__Contents__List1__Introduction__Left__Plice
                  = item.price
                  円
                %li.Pickup__Contents__List1__Introduction__Left__Tax
                  (税込)
              .Pickup__Contents__List1__Introduction__Right
                .Pickup__Contents__List1__Introduction__Right_Good ★1 
          //SOLD OUT表記
          .items-box_photo__sold
            .items-box_photo__sold__inner SOLD         
        //List2
        .Pickup__Contents__List2
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '60%', width: '100%', class: 'Pickup__Contents__List2__image'
          .Pickup__Contents__List2__Introduction
            %ul.Pickup__Contents__List2__Introduction__Left
              %li.Pickup__Contents__List2__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List2__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List2__Introduction__Left__Tax （税）
            .Pickup__Contents__List2__Introduction__Right
              .Pickup__Contents__List2__Introduction__Right_Good ★1
        //List3
        .Pickup__Contents__List3
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '60%', width: '100%', class: 'Pickup__Contents__List3__image'
          .Pickup__Contents__List3__Introduction
            %ul.Pickup__Contents__List3__Introduction__Left
              %li.Pickup__Contents__List3__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List3__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List3__Introduction__Left__Tax （税）
            .Pickup__Contents__List3__Introduction__Right
              .Pickup__Contents__List3__Introduction__Right_Good ★1
        //List4
        .Pickup__Contents__List4
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '60%', width: '100%', class: 'Pickup__Contents__List4__image'
          .Pickup__Contents__List4__Introduction
            %ul.Pickup__Contents__List4__Introduction__Left
              %li.Pickup__Contents__List4__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List4__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List4__Introduction__Left__Tax （税）
            .Pickup__Contents__List4__Introduction__Right
              .Pickup__Contents__List4__Introduction__Right_Good ★1
        //List5
        .Pickup__Contents__List5
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '60%', width: '100%', class: 'Pickup__Contents__List5__imsge'
          .Pickup__Contents__List5__Introduction
            %ul.Pickup__Contents__List5__Introduction__Left
              %li.Pickup__Contents__List5__Introduction__Left__Name 料理名
              %li.Pickup__Contents__List5__Introduction__Left__Plice  値段
              %li.Pickup__Contents__List5__Introduction__Left__Tax （税）
            .Pickup__Contents__List5__Introduction__Right
              .Pickup__Contents__List5__Introduction__Right_Good ★1

