.Pickup__Content
  .Pickup__Contents
    %h1.Pickup__Contents__Title ピックアップブランド
    %h2.Pickup__Contents__Subtitle アーカイブ
    .Pickup__Contents__Box
      .Pickup__Contents__Lists
        .Pickup__Contents__List1
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '100%', width: '100%', class: 'Pickup__Contents__List1__imsge'
        .Pickup__Contents__List1
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '100%', width: '100%', class: 'Pickup__Contents__List1__imsge'
        .Pickup__Contents__List1
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '100%', width: '100%', class: 'Pickup__Contents__List1__imsge'
        .Pickup__Contents__List1
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '100%', width: '100%', class: 'Pickup__Contents__List1__imsge'
        .Pickup__Contents__List1
          = image_tag '料理画像１.jpeg', alt: '料理画像', height: '100%', width: '100%', class: 'Pickup__Contents__List1__imsge'
      .Pickup__Contents__Introduction
        .Pickup__Contents__Introduction__List1
          %ul.Pickup__Contents__Introduction__List1__Left
            %li.Pickup__Contents__Introduction__List1__Left__Name 料理名
            %li.Pickup__Contents__Introduction__List1__Left__Plice  値段
            %li.Pickup__Contents__Introduction__List1__Left__Tax （税）
          .Pickup__Contents__Introduction__List1__Right
            .Pickup__Contents__Introduction__List1__Right_Good ★1
        .Pickup__Contents__Introduction__List1
          %ul.Pickup__Contents__Introduction__List1__Left
            %li.Pickup__Contents__Introduction__List1__Left__Name 料理名
            %li.Pickup__Contents__Introduction__List1__Left__Plice  値段
            %li.Pickup__Contents__Introduction__List1__Left__Tax （税）
          .Pickup__Contents__Introduction__List1__Right
            .Pickup__Contents__Introduction__List1__Right_Good ★1
        .Pickup__Contents__Introduction__List1
          %ul.Pickup__Contents__Introduction__List1__Left
            %li.Pickup__Contents__Introduction__List1__Left__Name 料理名
            %li.Pickup__Contents__Introduction__List1__Left__Plice  値段
            %li.Pickup__Contents__Introduction__List1__Left__Tax （税）
          .Pickup__Contents__Introduction__List1__Right
            .Pickup__Contents__Introduction__List1__Right_Good ★1
        .Pickup__Contents__Introduction__List1
          %ul.Pickup__Contents__Introduction__List1__Left
            %li.Pickup__Contents__Introduction__List1__Left__Name 料理名
            %li.Pickup__Contents__Introduction__List1__Left__Plice  値段
            %li.Pickup__Contents__Introduction__List1__Left__Tax （税）
          .Pickup__Contents__Introduction__List1__Right
            .Pickup__Contents__Introduction__List1__Right_Good ★1
        .Pickup__Contents__Introduction__List1
          %ul.Pickup__Contents__Introduction__List1__Left
            %li.Pickup__Contents__Introduction__List1__Left__Name 料理名
            %li.Pickup__Contents__Introduction__List1__Left__Plice  値段
            %li.Pickup__Contents__Introduction__List1__Left__Tax （税）
          .Pickup__Contents__Introduction__List1__Right
            .Pickup__Contents__Introduction__List1__Right_Good ★1
        
          
