.wrapper
  = render "front_suzuki"
  = render "main_field"
  = render "pickup_contents1"
  = render "pickup_contents2"
  = render "under_suzuki"

  .exhibition-btn
    = link_to new_product_path do
      %span.exhibition-btn__text 
        出品する
        = image_tag 'icon_camera.png', alt: '出品', height: '54px', width: '54px', class: '.exhibition-btn__icon'
