.main
  .main__show
    .main__show__contents
      .main__show__contents__item-box
        %h2.main__show__contents__item-box__name (仮)
        .main__show__contents__item-box__body
          .main__show__contents__item-box__body__image
          .main__show__contents__item-box__body__sub
            .main__show__contents__item-box__body__sub__pic
        .main__show__contents__item-box__price (仮)
        .main__show__contents__item-box__user-comment
        .main__show__contents__item-box__table
          %table
            %tr
              %th
                出品者
              %td
            %tr
              %th
                カテゴリー
              %td
            %tr
              %th
                ブランド
              %td
            %tr
              %th
                商品サイズ
              %td
            %tr
              %th
                状態
              %td
            %tr
              %th
                配送料
              %td
            %tr
              %th
                発送地域
              %td
            %tr
              %th
                発送日
              %td
        .main__show__contents__item-box__option-area
          %ul.main__show__contents__item-box__option-area__icon
            %li.main__show__contents__item-box__option-area__icon__star
              = link_to "#" do
                = icon('far', 'star')
                %p お気に入り
          %ul.main__show__contents__item-box__option-area__icon
            %li.main__show__contents__item-box__option-area__icon__thumbs-up
              = link_to "#" do
                = icon('fa', 'thumbs-up')
                %p グッド
      .main__show__contents__comment-box
        .main__show__contents__comment-box__field
          %textarea.main__show__contents__comment-box__field__form
          %p.main__show__contents__comment-box__field__caution
            *相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .Bottom
            %button{:type => "submit"}
              コメントする
            %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}
      %ul.main__show__contents__links
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas','angle-left' )
            %p 前の商品
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas', 'angle-right')
            %p 後の商品
      .main__show__contents__box
        .main__show__contents__box__list
          - @items.each do |item|
            = link_to item_path(item), class: "main__contents__links__list" do
              = image_tag item.item_images[0].image.url, size: "220x220"