.main
  .main__show
    .main__show__contents
      .main__show__contents__item-box
        %h2.main__show__contents__item-box__name
        .main__show__contents__item-box__body
          .main__show__contents__item-box__body__image
          .main__show__contents__item-box__body__sub
            .main__show__contents__item-box__body__sub__pic
        .main__show__contents__item-box__price
        .main__show__contents__item-box__user-comment
        .main__show__contents__item-box__table
          %table
            %tr
              %th
                商品名
              %td
            %tr
              %th
                商品説明
              %td
            %tr
              %th
                カテゴリー
              %td
            %tr
              %th
                ブランド
              %td
            %tr
              %th
                サイズ
              %td
            %tr
              %th
                状態
              %td
            %tr
              %th
                配送料
              %td
            %tr
              %th
                配送方法
              %td
            %tr
              %th
                出品地域
              %td
            %tr
              %th
                発送日の目安
              %td
      .main__show__contents__comment-box
        .main__show__contents__comment-box__field
          %textarea.main__show__contents__comment-box__field__form
          %p.main__show__contents__comment-box__field__caution
            *相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .Bottom

            -if user_signed_in? && current_user.id
              = link_to new_product_path do
                %button{:type => "submit"}
                  商品編集へ
            -else
              = link_to purchase_index_path do
                %button{:type => "submit"}
                  購入確認へ
              = link_to comments_path do
                %button{:type => "submit"}
                  コメントページへ

      %ul.main__show__contents__links
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas','angle-left' )
            %p 前の商品
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas', 'angle-right')
            %p 後の商品
      .main__show__contents__box
        .main__show__contents__box__list
