.LogoField  
  = image_tag 'logo.png', alt: 'トップロゴ', height: '40.55px', width: '160px', class: ''
.MypageField
  .flip
    .flip-inner
      .front
        .details
          %div
            Nick Name
            = current_user.nickname
          %hr/
          .role
            Email
            = current_user.email
          .contact
            Name
            = current_user.family_name
            = current_user.first_name
          .contact
            Birthday
            = current_user.birthday
      .back
        .social
          %table
            %tr
              %td
                = image_tag "big_ben.png", class:"socialicon1"
                .sociallink
                  出品履歴
              %td
                = image_tag "document_syorui_pen.png", class:"socialicon2"
                .sociallink
                  = link_to edit_user_registration_path do
                    情報修正
            %tr
              %td
                = image_tag "creditcard_gold.png", class:"socialicon3"
                .sociallink
                  = link_to card_new_path do
                    カード情報
              %td
                = image_tag "syougatsu2_omijikuji2.png", class:"socialicon4"
                .sociallink
                  %label
                    %span 今日の運勢
                    %input{:name => "checkbox", :type => "checkbox"}/
                    #popup
                      :javascript
                        var imglist = new Array(
                        {"src":"/kichi.png","width": 100, "height": 250 },
                        {"src":"/chuukichi.png","width": 100, "height": 250 },
                        {"src":"/kyou.png","width": 100, "height": 250 },
                        {"src":"/daikichi.png","width": 100, "height": 250 },
                        {"src":"/syoukichi.png","width": 100, "height": 250 },
                        );
                        var selectnum = Math.floor(Math.random() * imglist.length);
                        var output = "<img src='" + imglist[selectnum].src + "' width='"+ imglist[ selectnum ].width+ "' height='"+ imglist[ selectnum ].height+ "'>";
                        document.write(output);
.wrapper
  =render "front/under_suzuki"