.upper-field__in__main  
  %h1.upper-field__in__main__logo
    %a(href="/")
      = image_tag 'logo.png', alt: 'トップロゴ', height: '40.55px', width: '160px', class: ''
= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
  .head_title
    %h1 login
  .field_type 
    .title_field_box
      = f.label 'メールアドレス'
      %span.indispensable 必須
      = f.email_field :email, class: "input-full", autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
    .input_errors
      = resource.errors.full_messages_for(:email)[0]
    .title_field_box
      = f.label :password, 'パスワード'
      %span.indispensable 必須
      = f.password_field :password, class: "input-full", autocomplete: "off", autocomplete: "password", placeholder: "7文字以上の半角英数字", id:'password'
    .input_errors
      = resource.errors.full_messages_for(:password)[0]
        
    .actions_login
      = f.submit "ログイン",class:"btn"

