.contents.row
  .container
    %h2 Log in
    = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
      .field_name
        .field-label 
          = f.label 'ニックネーム'
        %span.form-require 必須
        .field-input
          = f.text_field :nickname, class: "field-input-full", autofocus: true, autocomplete: "nickname", placeholder: "例）79_Cチーム"
        .input-error
          = resource.errors.full_messages_for(:nickname)[0]

      .field
        .field-label
          = f.label 'メールアドレス'
        %span.form-require 必須
        .field-input
          = f.email_field :email, class: "field-input-full", autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .input-error
          = resource.errors.full_messages_for(:email)[0]

      .field
        .field-label 
          = f.label :password, 'パスワード'
          %span.form-require 必須
        .field-input.toggle
          = f.password_field :password, class: "field-input-full", autocomplete: "off", autocomplete: "password", placeholder: "7文字以上の半角英数字", id:'password'
          .checkbox-field
            %input#js-passcheck.checkbox.js-password-toggle{type: "checkbox"}
            %label.btn-label.js-password-label{for: "js-passcheck"}
              %i.fas.fa-eye-slash{style: "font-size:20px;color:#808080"}
        .input-error
          = resource.errors.full_messages_for(:password)[0]
        .field-info
          ※ 英字と数字の両方を含めて設定してください
        
        .actions
          = f.submit "ログイン"