.under-field
  %ul.under-field__term
    %li.under-field__term__content
      %h2.under-field__term__content__title FURIMAについて
      %ul.under-field__term__content__text
        %li
          = link_to "#" do
            会社概要
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do 
            FURIMA利用規約
        %li
          = link_to "#" do 
            ポイントに関する特約
    %li.under-field__term__content
      %h2.under-field__term__content__title FURIMAを見る
      %ul.under-field__term__content__text
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    %li.under-field__term__content
      %h2.under-field__term__content__title ヘルプ＆ガイド
      %ul.under-field__term__content__text
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .under-field__term__logo
    = link_to "/" do
      = image_tag 'logo-white.png', alt: 'フッターロゴ', height: '46px', width: '180px', class: 'under-field__term__content__flogo'
      %p © FURIMA

