%table 
  %tr 
    %th 出品者
    %td= @user.nickname
  %tr 
    %th カテゴリー
    - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
      %td
        = link_to "#{@category_child.name}","#"
        %br= link_to "#{@category_grandchild.name}","#" 
    -else
      %td
        = link_to "#{@category_parent.name}","#"
        %br= link_to "#{@category_child.name}","#"
        = link_to "#{@category_grandchild.name}","#"
  %tr
    %th ブランド
    %td= @item.brand_name
  %tr
    %th 商品のサイズ
    %td
  %tr
    %th 商品の状態
    %td= @item.item_status
  %tr
    %th 配送料の負担
    %td= @item.delivery_fee
  %tr
    %th 発送元の地域
    %td= link_to "#{@item.shipping_origin}","#"
  %tr
    %th 発送日の目安
    %td= @item.days_until_shipping