= render "front/front_suzuki"
.main
  .main__show
    .main__show__contents
      .main__show__contents__item-box
        %h2.main__show__contents__item-box__name
          = @product.product_name
        .main__show__contents__item-box__body
          .main__show__contents__item-box__body__gyazo
            = image_tag "#{@images.first.image}", class: "main__show__contents__item-box__body__gyazo-image"
          .main__show__contents__item-box__body__sub
            .main__show__contents__item-box__body__sub-images
              - @images[1..-1].each do |i|
                = image_tag "#{i.image}", size: "160×120", class: "main__show__contents__item-box__body__sub-image"
        .main__show__contents__item-box__price
          = "¥#{@product.price}"
        .main__show__contents__item-box__user-comment
          = @product.description
        .main__show__contents__item-box__table
          %table 
            %tr 
              %th
                出品者
              %td
                = @product.user.nickname
            %tr 
              %th カテゴリー
              - if [1, 200, 346, 481, 625, 685, 798, 898, 984, 1093, 1147, 1207, 1270].include?(@category_id)
                %td
                  = link_to "#{@category_child}","#"
                  %br= link_to "#{@category_id}","#" 
              -else
                %td
                  = link_to "#{@category_id}","#"
                  %br= link_to "#{@category_id}","#"
                  = link_to "#{@category_id}","#"
            %tr
              %th
                ブランド
              %td
                = @product.brand
            %tr
              %th
                商品のサイズ
              %td
                = @product.size
            %tr
              %th
                商品の状態
              %td
                = @product.product_status
            %tr
              %th
                配送料
              %td
                = @product.shipping_fee
            %tr
              %th
                都道府県
              %td
                = link_to "#{@product.prefecture_id}"
            %tr
              %th 
                発送までの日数
              %td
                = @product.shipping_day
      .main__show__contents__comment-box
        .main__show__contents__comment-box__field
          %textarea.main__show__contents__comment-box__field__form
          %p.main__show__contents__comment-box__field__caution
            *相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .Bottom
            -if user_signed_in? && current_user.id
              = link_to edit_product_path(@product) do
                %button{:type => "submit"}
                  商品編集へ
            -else
              = link_to purchase_index_path do
                %button{:type => "submit"}
                  購入確認へ
      %ul.main__show__contents__links
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas','angle-left' )
            %p 前の商品
        %li.main__show__contents__links__link 
          = link_to "#" do
            = icon('fas', 'angle-right')
            %p 後の商品
      .main__show__contents__box
        .main__show__contents__box__list
= render "front/under_suzuki"