.display_test
  %table 
    %tr 
      %th 出品者
      -# %td= @user.name
    %tr 
      %th カテゴリー
      - if [1, 200, 346, 481, 625, 685, 798, 898, 984, 1093, 1147, 1207, 1270].include?(@category_id)
        %td
          = link_to "#{@category_child.name}","#"
          %br= link_to "#{@category_grandchild.name}","#" 
      -else
        %td
          = link_to "#{@category_parent.name}","#"
          %br= link_to "#{@category_child.name}","#"
          = link_to "#{@category_grandchild.name}","#"
    %tr
      %th ブランド
      -# %td= @item.brand_name
    %tr
      %th 商品のサイズ
      %td
    %tr
      %th 商品の状態
      -# %td= @item.item_status
    %tr
      %th 配送料の負担
      -# %td= @item.delivery_fee
    %tr
      %th 発送元の地域
      -# %td= link_to "#{@item.shipping_origin}","#"
    %tr
      %th 発送日の目安
      -# %td= @item.days_until_shipping